
@import 'tailwindcss';
@import './admin-sidebar.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
/* Admin Sidebar Hover */
.app-sidebar .nav-link:hover {
    background-color: #f0f6ff !important;
    color: #147cf5 !important;
}

.app-sidebar .nav-link:hover i,
.app-sidebar .nav-link:hover .nav-icon {
    color: #147cf5 !important;
}

/* Active item */
.app-sidebar .nav-link.active {
    background-color: #147cf5 !important;
    color: #ffffff !important;
}

.app-sidebar .nav-link.active i,
.app-sidebar .nav-link.active .nav-icon {
    color: #ffffff !important;
}

/* Admin sidebar logo */
.brand-link {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: 10px;
    overflow: hidden;
}

.brand-link .brand-image {
    width: 40px !important;
    height: 40px !important;
    object-fit: contain !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.brand-link .brand-text {
    font-size: 18px !important;
    white-space: nowrap !important;
}


